<div class="container">
    <h2>Interaction to Smart Contract</h2>
    <div>
        <h3>Connect to Metamask</h3>
        <div>
            <input (click)="getAccount()" class="btn btn-s" type="button" id="con-btn" value="Connect" />
        </div>
    </div>
    <div>
        <h3>Workspace</h3>
        <div>
            <div>
                Account: <span class="showAccount">{{account}}</span>
            </div>
            <div>
                Balance: <span class="showBalance">{{read}}</span>
            </div>
        </div>
        <div>
            <div>
                {{message}}
            </div>
            <input (click)="readData()" class="btn btn-s" id="get-msg" type="button" value="Get Message" />
            <input (click)="getContractAddr()" class="btn btn-s" id="deploy" type="button" value="Deploy" />
            <input (click)="sendEth()" class="btn btn-s" id="sendTx" type="button" value="Send Eth" />
        </div>
    </div>
</div>